
body{
    background: green;
}

div{
    padding: 10px;
    margin:5px;
    background: blueviolet;
    width: 100px;
    height: 100px;

}

.caja2{
    background: red;
    position: absolute;
    top: 100px;
    left: 100px;
}

.caja3{
    background: yellow;
    position: fixed;
    top: 100px;
    left:300px;
}

.caja4{
    background: rosybrown;
    position: relative;
    top:1px;
    right: 5px;
}