header{
    border: 2px solid cornflowerblue;
    height: 50px;
}

h1{
    font-size: 20px;
    float: left;
    border: 1px solid cornflowerblue;
}

nav{
    margin: 2px;
    padding: 10px;
    float: right;
    border: 2px solid orange;
}

main{
    border: 2px solid blueviolet;
    float: left;
}
section{
    width: 70%;
    margin: 10px;
    border: 2px solid orange;
    float: left;
}
article{
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid azul;
}
aside{
    float: right;
    width: 25%;
    height: 200px;
    background-color: orange;
    border: 2px solid black;
}

footer{
    border: 2px solid green;
    clear: both;
}
