*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th{
    background-color: white;
    color: black;
}
table{
    width: 80%;
    text-align: center;
    
}
button{
    background: linear-gradient(to right, rgba(19, 9, 2, 0.733), #a9781e);
}
img {
    border-radius: 5px;
}

