body{
    margin: 20px;
}
head{
    margin: 30px;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table{
    background-color: rgb(4, 12, 12);
    color: white;
    align-items: left;
    height: 100%;
    width: 100%;
}
th,td{
     text-align: left;
     width: 50%;
}

#fila1{
    background-color:rgb(43, 55, 55);
}